MYSQL_DATABASE="my_db"
MYSQL_ROOT_HOST="%"
MYSQL_ROOT_PASSWORD="root@password"
MYSQL_HOST="localhost"
MYSQL_USER="my_user"
MYSQL_PASSWORD="user@password"
MYSQL_REPLICA_HOST=""
MYSQL_REPLICA_PORT=""
MYSQL_REPLICA_USER="repl_user"
MYSQL_REPLICA_PASSWORD="replica_password"
