[mysqld]
default_time_zone = 'Asia/Ho_Chi_Minh'
server-id               = 1
relay-log               = /var/log/mysql/mysql-relay-bin.log
log_bin                 = /var/log/mysql/mysql-bin.log
#Bin log expire time default 30 days
#binlog_expire_logs_seconds = 2592000
#sync_binlog=1
